@font-face {
    font-family: osaka-re;
    src: url(osaka-re.ttf);
}

.left-illustration {
   position: relative;
}

.left-illustration .background-image {
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: -1;
}

body {
    margin: 0px;
}

.title {
    margin: 0px;
    color: #f5d295;
    font-size: 9.5ch;
    font-family: osaka-re;
    letter-spacing: 0.2em;
}

.background-image {
    background-image: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    height:auto;
}

.logo {
    max-height: 200px;
}

.spacer {
    height: 30vw;
}
