@font-face {
    font-family: osaka-re;
    src: url(osaka-re.ttf);
}

@font-face {
    font-family: roboto-slap;
    src: url(RobotoSlab-VariableFont_wght.ttf);
}

html,body { height:100vh; }

fieldset {
    box-shadow:  0px 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.left-illustration {
    height: 100vh;
    width: 550px;
    position: relative;
    overflow: hidden;
}

.left-illustration .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 0px;
    color: #f5d295;
    font-size: 4em;
    font-family: osaka-re;
    letter-spacing: 0.2em;
}

.background-image {
    background-image: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 10%;
    width: 100%;
}

.logo {
    max-height: 150%;
    max-width: 150%;
    height: 120%;
}

.spacer {
    height: 20vh;
}

.form-container {
    width: 800px;
    height: 100vh;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body-container {
    display: flex;
}

.credit-container {
    display: flex;
    justify-content: center;
}

.form-spacer-top {
    height: 50%;
}

.form-description {
    background-color: #f5d29514;
    font-family: roboto-slap;
    font-size: 1.5rem;
    height: 33%;
    position: relative;
    min-height: 150px;
}

.form-description p {
    margin: 0px;
    padding-left: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 10%;
}

legend {
    font-family: ubuntu;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.835);
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.existing-user-portal {
    font-family: roboto-slap;
    font-size: 1rem;
}

label {
    font-family: ubuntu;
}

form {
    height: 67%;
}

.form-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #ffffff36;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    padding-left: 40px;
    padding-bottom: 40px;
}

.submit-container {
    height: 10vh;
}

label {
    display: flex !important;
}

input {
    border-radius: 5px;
    height: 25px;
    border-color:rgba(0, 0, 0, 0.169);
    border-width: 1px;
    width: 250px;
}

input:focus:not(.submit-button) {
    outline: none !important;
    border:1.5px solid blue;
    box-shadow:  0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
    border: 1px solid red;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

legend {
    float:left;
    position:relatve;
    width: 100%;
}

.form-footer {
    background-color: #f5d29514;
    padding-left: 40px;
    padding-top: 40px;
    flex-grow: 1;
    max-height: calc(100vh - 33%);
    overflow-y: auto;
}

.submit-container {
    background-color: #f5d2950e;
}

.form-footer p {
    margin: 0px;
    background-color: transparent;
}

.submit-button {
    background: #fcc25f;
    border-radius: 16px;
    box-shadow: 0px 4px 4px #6666665e;
    font-family: roboto-slap;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bolder;
    border: none;
    width: 30%;
    height: 58px;
    margin-bottom: 40px;
    text-align: center;
    display:block;
}
  
.submit-button:hover {
    background: #fab949;
    text-decoration: none;
}

a {
    color: #fcc25f;
    text-decoration: none;
}

a:hover {
    color: #ffa60c;
}

.credit-container {
    display: flex;
}

figcaption {
    position: absolute;
    bottom: 5px;
    color: white;
    font-family: roboto-slap;
    font-weight: bolder;
    background-color: rgba(0,0,0, 0.2);
}

#passwordMessage {
    font-family: ubuntu;
    font-size:smaller;
    color: rgb(155, 0, 0);
    height: 10px;
    width: 100%;
}
