@font-face {
    font-family: osaka-re;
    src: url(osaka-re.ttf);
}

.left-illustration {
   position: relative;
   height: 100vh;
   overflow: hidden;
}

.left-illustration .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    margin: 0px;
}

.title {
    margin: 0px;
    color: #f5d295;
    font-size: 8ch;
    font-family: osaka-re;
    letter-spacing: 0.2em;
}

.background-image {
    background-image: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    height:160px;
    width: 100%;
}

.logo {
    max-height: 200px;
    max-width: 160px;
    width: 20vw;
    height: 20vw;
}

.spacer {
    height: 20vh;
}

.form-container {
    width: 60vw;
    height: 100vh;
    z-index: 1;
    background-color: white;
}

.body-container {
    display: flex;
}

.credit-container {
    display: flex;
    justify-content: center;
}
